.footer{
  padding-top: 4px;
  border-top: 2px double #000;
}


.bl_fullFooter{

  width: 100%;
  margin-top: 43px;
}


.bl_contacts{
  float: left;
  max-width: 300px;

  &__adress{
    margin-top: 2px;
    font-family: $ArialRoundedBold;
    font-size: 16px;


    &_tel{
      font-family: $ArialRoundedBold;
      font-size: 21px;
      line-height: 11px;
    }

    &_email{

      color: $color_lightWhite;
      transform: translateY(-50%);
      font-family: $ArialRoundedBold;
      font-size: 11px;
      font-weight: 400;

    }
  }

}

.bl_subscribeForDiscounts{
 margin-top: 2%;


  &__email{
    display: inline-block;
    border: none;
    outline: none;
    @include sprite($decor-fild-email);
    background-color: transparent;
    &::placeholder{
      font-size: 0.7em;
      padding-left: 2%;
      color: $color_orange;
    }
  }
  
  
  &__box{
    display: inline-block;
  }
  &_text{
  
    font-family: $ArialRoundedBold;
    font-size: 12px;
    line-height: 12px;
    color: #000;
  }
  &_button{
    background: none;
    color: $color_lightWhite;
  }
}

.search{


  &_field{
    margin-top: 8%;

    width: 60%;
    font-size: 16px;
    transform: translateY(-50%);
    display: inline-block;
    border: none;
    border-bottom: 1px solid #000;
    background: none;
    outline: none;
  }
  &_button{
    display: inline-block;
    @include sprite($loupe);
    background-color: transparent;
    outline: none;
    border: none;
  }
}


.bl_navigation{

  margin: 0 auto;

  &__fullNavigation{

  }
  &__item{
    display: inline-block;
  }
  &__link{
    width: 100%;
    height: 100%;
    color: #000;
    font-family: $ArialRoundedBold;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
  }
}



.bl_loadingCatalogs{
  float: right;
  max-width: 320px;

  &__item{
    position: relative;
    text-align: center;
    color: $color_lightWhite;
    font-family: $ArialRoundedBold;
    //text-align: right;
    font-size: 18px;
    font-weight: 400;
    z-index:3;

    &_orange{
      color: $color_orange;
    }
    &_decor1{
      &:after{
        position: absolute;
        content: "";
        @include sprite($decor-fild-white1);
        background-color: transparent;
        z-index:2;
      }
    }
    &_decor2{
      &:after{
        position: absolute;
        content: "";
        @include sprite($decor-fild-white2);
        background-color: transparent;
        z-index:2;
      }
    }
  }

  &__button{

    &_max{
      margin: 0 auto;
      @include sprite($max);
      background-color: transparent;
    }

    &_pdf{
      margin: 0 auto;
      @include sprite($pdf);
      background-color: transparent;
    }

  }

}

.bl_copyrighted{
  margin-top: 1%;
  width: 100%;
  &__text{
    text-align: right;
    font-family: $ArialRoundedBold;
    font-size: 16px;         ////////////////////
    font-weight: 400;
  }
}

