
.bl_header {
  position: relative;
  background-color: $color_orange;
  width: 100%;
  //min-height: 130px;
  padding-bottom: 20px;




  &:after{
    height: 50px;
    width: 100%;
    content: "";
    position: absolute;
    bottom: -18px;
    left: 0;
    background: url("../img/threeLine.png") 50% 50% repeat-x;
    z-index:1000;
  }


  &__full {
    //margin-top: 2%;
    //padding-bottom: 2%; //////40px
  }

  &__logo{
    margin-left: 0;
    width: 354px;

    &_link{
      margin-top: 3%;
      margin-bottom: 2%;
      display: inline-block;

    }
  }

}

.bl_eye {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-left: 11%; //// 138px

  width: 95px;
  height: 95px;

  //border: 1px solid green;
  box-sizing: border-box;
  z-index:999;

  &-checkbox {
    position: absolute;
    top: 25%;
    left: 45%;
    //opacity: 0;
  }

  #swich{
    cursor: pointer;
    z-index:999;
  }


  &-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .swichRectangl{
   fill: $color_switch;
    transition: all ease .3s;
  }
  .eyeborowLeft{
    opacity:1;
    stroke-width: 3;
    fill: none;
    stroke-miterlimit: 10;
    stroke:$color_switch;
    transition: all ease .3s;
  }

  .eyeborowRight{
    fill: none;
    stroke-width: 1.6067;
    stroke-miterlimit: 10;
    stroke:$color_lightWhite;
    transition: all ease .3s;
    opacity:0;
  }

  .tongue {
    stroke: $color_switch;
    transition: all ease .3s;
  }

  .st1 {
    fill: $color_orange;
  }

  .bl_eye_circle{
    fill: $color_orange;

    transition: all ease .3s;
  }



  .mouth{
    fill: none;
    stroke: $color_switch;
    stroke-width: 3;
    stroke-miterlimit: 10;
    transition: all ease .3s;
  }

  .swich_text {
    font-size: 14px;
    font-family: $Arciform;
    fill: $color_orange;
  }


  .bl_eye-checkbox:checked + .bl_eye-label .bl_eye_circle{
    transform: translateX(120%);
    transition: all ease .3s;
  }
  .bl_eye-checkbox:checked + .bl_eye-label .eyeborowRight{
    opacity:1;
    transition: all ease .3s;
  }
  .bl_eye-checkbox:checked + .bl_eye-label .eyeborowLeft{
    opacity:0;
    transition: all ease .3s;
  }

  .bl_eye-checkbox:checked + .bl_eye-label .swichRectangl{
    fill: $color_lightWhite;
    transition: all ease .3s;
  }

  .bl_eye-checkbox:checked + .bl_eye-label .mouth{
    stroke: $color_lightWhite;
    transition: all ease .3s;
  }


  .bl_eye-checkbox:checked + .bl_eye-label .tongue{
    stroke: $color_lightWhite;
    fill: $color_lightWhite;
    transition: all ease .3s;
  }

  .bl_eye-checkbox:checked + .bl_eye-label .swich_text{
    display: none;
  }


}
$animationTime: 0.4s;

.bl_nav{
  position: relative;
  padding-top: 4.7%;
  float: right;
  width: 382px;   /////////////////// 320
  min-height: 172px;
  display: inline-block;
  box-sizing: border-box;
 /// border: 1px solid green;
  overflow: hidden;



  &__adress{
    position: absolute;
    width: 100%;
    top: -18px;
    left: 0;
    transition: left $animationTime;
    &__animate{
      left: -125%;
      transition: left $animationTime;
    }

  }

  &__tel{
    text-align: right;
    font-family: $ArialRoundedBold;
    line-height: 25px;
    &_code{
      font-size: 36px;
      font-weight: 700;
    }

    &_main{
      font-size: 51px;
      font-weight: 700;
    }

  }

  &__street{
    margin-top: 10px;
    text-align: right;
    font-family: $CenturyGothic;
    font-size: 25px;
    line-height: 25px;
  }

  // SOCBUTTONS

  &__socButtons{
    margin-top: 2%;
    clear: both;
    float: right;

  }
  &__email{
    float: right;
    vertical-align: top;
    margin-left: 10px;
    @include sprite($email);
  }
  &__facebook{
    float: right;
    vertical-align: top;
    margin-left: 10px;
    @include sprite($facebook);
  }

  &__instagram{
    float: right;
    vertical-align: top;
    @include sprite($instagram);
  }
}

.bl_language{
  float: right;
  margin-right: 5%;

  &__label{
    position: relative;
    cursor: pointer;
  }

  &__ratio{
    position: absolute;
    top: 40%;
    left: 50%;
    opacity: 0;

    &:checked + .bl_language__text{
      color: $color_orange;
      background-color: #000;
      border-radius: 14px;
      padding: 0 4px;
    }
  }

  &__text{
    line-height: 1.5;
    font-size: 14px;

  }
}



.bl_menu{
  position: absolute;
  width: 100%;
  top: 0;
  left: 125%; ////////////////////////// 125%

  transition: left $animationTime;

  &__animate{
    left: 0;
    transition: left $animationTime;
  }

  &__fullMenu{

    width: 100%;
    padding-left: 6%;
    margin-top: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: right;

    color: $color_lightWhite;
    font-family: $Arciform;
    font-size: 20px;
    line-height: 10px;
  }

  &__item{


    &:hover .bl_menu__word{
      opacity:1;
    }
    &:hover .bl_menu__icon{
      opacity: 0;
    }
  }

  &__link{
    position: relative;
    color: $color_lightWhite;
    font-family: $Arciform;
    font-size: 20px;
    line-height: 9px;
  }
  &__word{
    display: inline-block;
    opacity:0;              //////////////

    &_decor{
      position: relative;
      padding-right: 30px;
      &:before{
        content: "";
        position: absolute;
        left: 82%;
        top: -1000%;
        width: 1px;
        height:100px;
        background-color: $color_lightWhite;
      }

      &:after{
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: -4px;
        right: 0;
        background: url("../img/mi.svg") 50% 50% no-repeat;
        //@include sprite($mi);
      }
    }

  }
  //letter decor
  .letter_decor{
    position: relative;
    width:auto;
    &:after{
      content: "";
      position: absolute;
      left: 50%;
      bottom: 50%;
      width: 1px;
      height: 300px;
      background-color: $color_lightWhite;
    }
  }


  &__icon{
    //display: none;

    position: absolute;

    transform: translate(50%, -35%);
    z-index: 5;

    &_mi{
      @include sprite($mi-icon);
      left: -45%;
    }
    &_chair{
      margin-left: 10%;
      @include sprite($chair-icon);
    }
    &_news{
      margin-left: 10%;
      @include sprite($news-icon);
      left: -20%;
    }
    &_map{
      @include sprite($map-icon);
    }

  }

}



@keyframes  adressMoving{
  0%{
    left: 0;
  }
  100%{
    left: -110%;
  }
}
@keyframes  menuMoving{
  0%{
    left: 110%;
  }
  100%{
    left: 0;
  }
}