// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$chair-icon-name: 'chair-icon';
$chair-icon-x: 216px;
$chair-icon-y: 0px;
$chair-icon-offset-x: -216px;
$chair-icon-offset-y: 0px;
$chair-icon-width: 31px;
$chair-icon-height: 44px;
$chair-icon-total-width: 247px;
$chair-icon-total-height: 219px;
$chair-icon-image: '../img/sprite.png';
$chair-icon: (216px, 0px, -216px, 0px, 31px, 44px, 247px, 219px, '../img/sprite.png', 'chair-icon', );
$decor-fild-email-name: 'decor-fild-email';
$decor-fild-email-x: 77px;
$decor-fild-email-y: 0px;
$decor-fild-email-offset-x: -77px;
$decor-fild-email-offset-y: 0px;
$decor-fild-email-width: 134px;
$decor-fild-email-height: 24px;
$decor-fild-email-total-width: 247px;
$decor-fild-email-total-height: 219px;
$decor-fild-email-image: '../img/sprite.png';
$decor-fild-email: (77px, 0px, -77px, 0px, 134px, 24px, 247px, 219px, '../img/sprite.png', 'decor-fild-email', );
$decor-fild-white1-name: 'decor-fild-white1';
$decor-fild-white1-x: 77px;
$decor-fild-white1-y: 125px;
$decor-fild-white1-offset-x: -77px;
$decor-fild-white1-offset-y: -125px;
$decor-fild-white1-width: 72px;
$decor-fild-white1-height: 17px;
$decor-fild-white1-total-width: 247px;
$decor-fild-white1-total-height: 219px;
$decor-fild-white1-image: '../img/sprite.png';
$decor-fild-white1: (77px, 125px, -77px, -125px, 72px, 17px, 247px, 219px, '../img/sprite.png', 'decor-fild-white1', );
$decor-fild-white2-name: 'decor-fild-white2';
$decor-fild-white2-x: 154px;
$decor-fild-white2-y: 125px;
$decor-fild-white2-offset-x: -154px;
$decor-fild-white2-offset-y: -125px;
$decor-fild-white2-width: 56px;
$decor-fild-white2-height: 17px;
$decor-fild-white2-total-width: 247px;
$decor-fild-white2-total-height: 219px;
$decor-fild-white2-image: '../img/sprite.png';
$decor-fild-white2: (154px, 125px, -154px, -125px, 56px, 17px, 247px, 219px, '../img/sprite.png', 'decor-fild-white2', );
$email-name: 'email';
$email-x: 43px;
$email-y: 158px;
$email-offset-x: -43px;
$email-offset-y: -158px;
$email-width: 36px;
$email-height: 38px;
$email-total-width: 247px;
$email-total-height: 219px;
$email-image: '../img/sprite.png';
$email: (43px, 158px, -43px, -158px, 36px, 38px, 247px, 219px, '../img/sprite.png', 'email', );
$eyebrow-name: 'eyebrow';
$eyebrow-x: 216px;
$eyebrow-y: 49px;
$eyebrow-offset-x: -216px;
$eyebrow-offset-y: -49px;
$eyebrow-width: 24px;
$eyebrow-height: 25px;
$eyebrow-total-width: 247px;
$eyebrow-total-height: 219px;
$eyebrow-image: '../img/sprite.png';
$eyebrow: (216px, 49px, -216px, -49px, 24px, 25px, 247px, 219px, '../img/sprite.png', 'eyebrow', );
$facebook-name: 'facebook';
$facebook-x: 0px;
$facebook-y: 158px;
$facebook-offset-x: 0px;
$facebook-offset-y: -158px;
$facebook-width: 38px;
$facebook-height: 38px;
$facebook-total-width: 247px;
$facebook-total-height: 219px;
$facebook-image: '../img/sprite.png';
$facebook: (0px, 158px, 0px, -158px, 38px, 38px, 247px, 219px, '../img/sprite.png', 'facebook', );
$hesh-name: 'hesh';
$hesh-x: 135px;
$hesh-y: 76px;
$hesh-offset-x: -135px;
$hesh-offset-y: -76px;
$hesh-width: 51px;
$hesh-height: 44px;
$hesh-total-width: 247px;
$hesh-total-height: 219px;
$hesh-image: '../img/sprite.png';
$hesh: (135px, 76px, -135px, -76px, 51px, 44px, 247px, 219px, '../img/sprite.png', 'hesh', );
$instagram-name: 'instagram';
$instagram-x: 84px;
$instagram-y: 158px;
$instagram-offset-x: -84px;
$instagram-offset-y: -158px;
$instagram-width: 35px;
$instagram-height: 35px;
$instagram-total-width: 247px;
$instagram-total-height: 219px;
$instagram-image: '../img/sprite.png';
$instagram: (84px, 158px, -84px, -158px, 35px, 35px, 247px, 219px, '../img/sprite.png', 'instagram', );
$loupe-name: 'loupe';
$loupe-x: 216px;
$loupe-y: 107px;
$loupe-offset-x: -216px;
$loupe-offset-y: -107px;
$loupe-width: 20px;
$loupe-height: 20px;
$loupe-total-width: 247px;
$loupe-total-height: 219px;
$loupe-image: '../img/sprite.png';
$loupe: (216px, 107px, -216px, -107px, 20px, 20px, 247px, 219px, '../img/sprite.png', 'loupe', );
$map-icon-name: 'map-icon';
$map-icon-x: 77px;
$map-icon-y: 76px;
$map-icon-offset-x: -77px;
$map-icon-offset-y: -76px;
$map-icon-width: 53px;
$map-icon-height: 44px;
$map-icon-total-width: 247px;
$map-icon-total-height: 219px;
$map-icon-image: '../img/sprite.png';
$map-icon: (77px, 76px, -77px, -76px, 53px, 44px, 247px, 219px, '../img/sprite.png', 'map-icon', );
$max-name: 'max';
$max-x: 0px;
$max-y: 201px;
$max-offset-x: 0px;
$max-offset-y: -201px;
$max-width: 45px;
$max-height: 18px;
$max-total-width: 247px;
$max-total-height: 219px;
$max-image: '../img/sprite.png';
$max: (0px, 201px, 0px, -201px, 45px, 18px, 247px, 219px, '../img/sprite.png', 'max', );
$mi-icon-name: 'mi-icon';
$mi-icon-x: 77px;
$mi-icon-y: 29px;
$mi-icon-offset-x: -77px;
$mi-icon-offset-y: -29px;
$mi-icon-width: 69px;
$mi-icon-height: 42px;
$mi-icon-total-width: 247px;
$mi-icon-total-height: 219px;
$mi-icon-image: '../img/sprite.png';
$mi-icon: (77px, 29px, -77px, -29px, 69px, 42px, 247px, 219px, '../img/sprite.png', 'mi-icon', );
$mi-name: 'mi';
$mi-x: 216px;
$mi-y: 79px;
$mi-offset-x: -216px;
$mi-offset-y: -79px;
$mi-width: 23px;
$mi-height: 23px;
$mi-total-width: 247px;
$mi-total-height: 219px;
$mi-image: '../img/sprite.png';
$mi: (216px, 79px, -216px, -79px, 23px, 23px, 247px, 219px, '../img/sprite.png', 'mi', );
$mouth-name: 'mouth';
$mouth-x: 0px;
$mouth-y: 0px;
$mouth-offset-x: 0px;
$mouth-offset-y: 0px;
$mouth-width: 72px;
$mouth-height: 68px;
$mouth-total-width: 247px;
$mouth-total-height: 219px;
$mouth-image: '../img/sprite.png';
$mouth: (0px, 0px, 0px, 0px, 72px, 68px, 247px, 219px, '../img/sprite.png', 'mouth', );
$news-icon-name: 'news-icon';
$news-icon-x: 151px;
$news-icon-y: 29px;
$news-icon-offset-x: -151px;
$news-icon-offset-y: -29px;
$news-icon-width: 42px;
$news-icon-height: 42px;
$news-icon-total-width: 247px;
$news-icon-total-height: 219px;
$news-icon-image: '../img/sprite.png';
$news-icon: (151px, 29px, -151px, -29px, 42px, 42px, 247px, 219px, '../img/sprite.png', 'news-icon', );
$pdf-name: 'pdf';
$pdf-x: 124px;
$pdf-y: 158px;
$pdf-offset-x: -124px;
$pdf-offset-y: -158px;
$pdf-width: 45px;
$pdf-height: 18px;
$pdf-total-width: 247px;
$pdf-total-height: 219px;
$pdf-image: '../img/sprite.png';
$pdf: (124px, 158px, -124px, -158px, 45px, 18px, 247px, 219px, '../img/sprite.png', 'pdf', );
$play-triangle-name: 'play-triangle';
$play-triangle-x: 0px;
$play-triangle-y: 73px;
$play-triangle-offset-x: 0px;
$play-triangle-offset-y: -73px;
$play-triangle-width: 60px;
$play-triangle-height: 80px;
$play-triangle-total-width: 247px;
$play-triangle-total-height: 219px;
$play-triangle-image: '../img/sprite.png';
$play-triangle: (0px, 73px, 0px, -73px, 60px, 80px, 247px, 219px, '../img/sprite.png', 'play-triangle', );
$tongue-name: 'tongue';
$tongue-x: 216px;
$tongue-y: 132px;
$tongue-offset-x: -216px;
$tongue-offset-y: -132px;
$tongue-width: 15px;
$tongue-height: 14px;
$tongue-total-width: 247px;
$tongue-total-height: 219px;
$tongue-image: '../img/sprite.png';
$tongue: (216px, 132px, -216px, -132px, 15px, 14px, 247px, 219px, '../img/sprite.png', 'tongue', );
$spritesheet-width: 247px;
$spritesheet-height: 219px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($chair-icon, $decor-fild-email, $decor-fild-white1, $decor-fild-white2, $email, $eyebrow, $facebook, $hesh, $instagram, $loupe, $map-icon, $max, $mi-icon, $mi, $mouth, $news-icon, $pdf, $play-triangle, $tongue, );
$spritesheet: (247px, 219px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
