/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/

@include font-face("ArciformSanscyr", "../fonts/ArciformSanscyr-lat-Regular/ArciformSanscyr", 400, normal, eot ttf woff woff2);
@include font-face("LCChalk", "../fonts/LCChalk/LCChalk", 400, normal, eot ttf woff woff2);
@include font-face("CenturyGothic", "../fonts/CenturyGothic/CenturyGothic", 400, normal, eot ttf woff woff2);
@include font-face("Arial Rounded MT Bold", "../fonts/ArialRoundedMTBold/ArialRoundedMTBold", 700, normal, eot ttf woff woff2);

/*********************************************/
/*MAIN STYLES*/
/*********************************************/

body {
  height: 100%;
  font-family:  sans-serif;
  font-family: $Arciform;
  font-size: 25px;
  font-weight: 400;
  color: #000;
  min-width: 320px;
  position: relative;
}

.mainWrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  overflow: hidden;
}

.wrapperBlock {
  position: relative;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: white;
  }
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

/*********************************************/
/*TYPOGRAPHY*/
/*********************************************/

/*********************************************/
/*STICKY FOOTER*/
/*********************************************/

/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background-color: $color_orange;
}


.fullPage{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.pageContant{
  flex: 1 0 auto;
}


.main{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  clear: both;
  background: $color_orange url("../img/setkaMin2.png") 50% 100% repeat;


  box-sizing: border-box;
  overflow: hidden;
}




.bl_video {

  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-height: $minHeghtMainPage;
  //background-color: rgba(0, 0, 0, 0.25);

  &__background{
    margin-top: 4px;
    width:100%;
  }


  &__play-triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include sprite($play-triangle);
  }

  &__link {
    position: absolute;
    display: block;
    bottom: 19px;
    right: 16px;
    @include sprite($hesh);
  }

}

// SLIDERS

.bl_fullBlock{

  height: 100%;
  min-height:$minHeghtMainPage;
  background-color: $color_orange;

}

.bl_fullSliders {
  position: relative;
  //margin-top: calc(20%);
  //border: 1px solid red;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: $color_orange;

  &__work{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 608px !important;  ///465
    //border: 1px solid red;

    overflow: hidden;  ///////////////
  }

  .sliderWrapper{
    position: absolute;

    &_animation__position{
      &:nth-child(1){
        top: 0;
        z-index: 900;
      }
      &:nth-child(2){
        top: 150%;     //// used in JS
        z-index: 800;
      }
      &:nth-child(3){
        z-index: 700;
        top: 300%;   //// used in JS
      }
    }


    .owl-carousel .owl-item img{
      width:auto;
      padding: 0;
    }


    .owl-nav{
      position: absolute;
      //width: 100%;
      width: 13.5%;   //////// для 3 товаров
      top: 0;
      left: 0;
    }
    .slider_news .owl-nav{
      width: 15.8%;  //////// для 2 товаров
    }


    .owl-carousel .owl-nav .owl-prev{
      float: left;
      font-size: 0;
      width: 75px;
      margin-top: 20px;
      margin-left: 0;
      //margin-left: 26px;
      background: transparent url("../img/arrow_left.svg") 50% 50% no-repeat;
    }
    .owl-carousel .owl-nav .owl-next{
      float: right;
      font-size: 0;
      width: 75px;
      margin-top: 20px;
      margin-right: 0;
      //margin-left: 154px;    ///////////////////
      background: transparent url("../img/arrow_right.svg")50% 50% no-repeat;
    }

  }


//  CHOOSE SLIDER

  &__block{
    position: absolute;
    bottom: 3%;
    right: 3%;
    display: block;
    z-index:999;
  }
  &_item{
    display: block;
    margin-top: 4px;
    text-align: right;
    font-family: $Arciform;
    font-size: 27px;
    line-height: 25px;
    cursor: pointer;

    transition: all 0.3s;

    &__active{
      position: relative;
      transition: all 0.3s;
      color: $color_lightWhite;
      text-decoration: underline;

      &:after{
        content: "";
        position: absolute;
        width: 100vw;
        height: 23px;
        left: 134%;
        top: 25%;
        background: url("../img/activeItemGrid.png") 50% 50% repeat-x;
        z-index:3;
      }
    }
  }

}



.slider_hits,
.slider_shares,
.slider_news {
  //position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.slider_shares{
  top: 100%;
}

.slider_news{
  top: 200%;
}





.slider_item {

  &__title {
    width: 172px;
    display: block;
    text-align: center;
    margin: 26px auto 0;
    font-family: $Arciform;
    font-size: 15px;
    font-weight: 700;

  }

  &__img{
    margin-top: 98px;
    //height: 363px;
    //padding: 0 3%;
  }

  &__hits{
    position: absolute;
    top: 16%;
    left: 0%;
    width: 134px;
    height: 134px;
    background: url("../img/bestseller.png") 50% 50% no-repeat;
  }

  &__details {

    color: $color_lightWhite;
    font-family: $Arciform;
    font-size: 15px;
    font-weight: 400;
    //line-height: 25px;
    //padding-left: 3%;
  }

  &__sale{
    position: absolute;
    top: 16%;
    display: block;
    transform: rotate(-45deg);
    font-family: $LCChalk;
    font-size: 54px;
    font-weight: 400;
    line-height: 104px;
  }

}

/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
