/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/

@include font-face("ArciformSanscyr", "../fonts/ArciformSanscyr-lat-Regular/ArciformSanscyr", 400, normal, eot ttf woff woff2);
@include font-face("LCChalk", "../fonts/LCChalk/LCChalk", 400, normal, eot ttf woff woff2);
@include font-face("CenturyGothic", "../fonts/CenturyGothic/CenturyGothic", 400, normal, eot ttf woff woff2);
@include font-face("Arial Rounded MT Bold", "../fonts/ArialRoundedMTBold/ArialRoundedMTBold", 700, normal, eot ttf woff woff2);

/*********************************************/
/*MAIN STYLES*/
/*********************************************/

body {
  height: 100%;
  font-family:  sans-serif;
  font-family: $Arciform;
  font-size: 25px;
  font-weight: 400;
  color: #000;
  min-width: 320px;
  position: relative;
}

.mainWrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  overflow: hidden;
}

.wrapperBlock {
  position: relative;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: white;
  }
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

/*********************************************/
/*TYPOGRAPHY*/
/*********************************************/

/*********************************************/
/*STICKY FOOTER*/
/*********************************************/

/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background-color: $color_orange;
}

//.container {
//  width: 73%;
//}
.row {
  display: table;
  width: 100%;
}



.fullPage{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.pageContant{
  //
  //display: flex;
  //flex-direction: column;

}


.main{
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  clear: both;
  background: $color_orange url('data:image/svg+xml;charset=utf8,<svg version="1.1" id="backgroundLines" xmlns="http://www.w3.org/2000/svg" width="1px" height="6px" x="0px" y="0px" viewBox="0 0 1 6"><line fill="none" stroke="#000000" stroke-miterlimit="10" x1="0" y1="5.5" x2="1" y2="5.5"/></svg>') repeat 0 0;
  box-sizing: border-box;
}




.bl_video {

  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-height: $minHeghtMainPage;
  background-color: rgba(0, 0, 0, 0.25);

  &__background{
    margin-top: 4px;
    width:100%;
    min-width: 300px;
  }


  &__play-triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include sprite($play-triangle);
  }

  &__link {
    position: absolute;
    display: block;
    bottom: 19px;
    right: 16px;
    @include sprite($hesh);
  }

}

// SLIDERS

.bl_fullBlock {

  background-color: $color_orange;
  display: table-cell;
  float: none;
  vertical-align: top;
}



.bl_fullSliders {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: $color_orange;

  &__work{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: $minHeghtMainPage !important;  ///465
    overflow: hidden;  ///////////////
  }

  .sliderWrapper{
    position: absolute;

    &_animation__position{
      &:nth-child(1){
        top: 0;
        z-index: 900;
      }
      &:nth-child(2){
        top: 150%;     //// used in JS
        z-index: 800;
      }
      &:nth-child(3){
        z-index: 700;
        top: 300%;   //// used in JS
      }
    }


    .owl-item{
      height: 100%;
      min-height: $minHeghtMainPage;
    }

    .owl-carousel .owl-item img{
      display: block;
      margin: 0 auto;
    }


    .owl-nav{
      position: absolute;
      //width: 100%;
      width: 13.5%;   //////// для 3 товаров
      top: 0;
      left: 0;
    }
    .slider_news .owl-nav{
      width: 15.8%;  //////// для 2 товаров
    }


    .owl-carousel .owl-nav .owl-prev{
      float: left;
      font-size: 0;
      width: 75px;
      margin-top: 15px;  ///// 20px

      margin-left: 0;

      background: transparent url("../img/arrow_left.svg") 50% 50% no-repeat;
    }
    .owl-carousel .owl-nav .owl-next{
      float: right;
      font-size: 0;
      width: 75px;
      margin-top: 15px;  ////// было 20px
      margin-right: 0;

      background: transparent url("../img/arrow_right.svg")50% 50% no-repeat;
    }

  }


//  CHOOSE SLIDER

  &__block{
    position: absolute;
    bottom: 1%;
    right: 3%;
    display: block;
    z-index:998;
  }
  &_item{
    display: block;
    width: 100%;
    height: 100%;
    //margin-top: 4px;
    text-align: right;
    font-family: $Arciform;
    font-size: 27px;
    line-height: 25px;
    cursor: pointer;

    transition: all 0.3s;

    &__active{
      position: relative;
      transition: all 0.3s;
      color: $color_lightWhite;
      //text-decoration: underline;  // Эта штука не 1px

      &:before{
        content: "";
        position: absolute;
        border-bottom: 1px solid #fff;
        top: 3px;
        right: -33%;
        width: 100%;

        height: 23px;
        z-index:3;

      }
      &:last-child:before{
        width: 133%;
      }


      &:after{
        content: "";
        position: absolute;
        width: 100vw;
        height: 23px;
        left: 101px;  ////// 130%
        top: 4px; /// 23%;
        background: url("../img/4Line1.svg") 50% 50% repeat-x;
        z-index:4;
      }
    }
  }

}



.slider_hits,
.slider_shares,
.slider_news {
  display: block;
  width: 100%;
  height: 100%;
  &__item{
    transform: translateY(30%);
  }

}
.slider_shares{
  top: 100%;
}

.slider_news{
  top: 200%;
}





.slider_item {

  &__title {
    position: absolute;
    left: 25%;
    top: -32%;  ///////// -30%
    width: 172px;
    display: block;
    text-align: center;
    margin: 26px auto 0;
    font-family: $Arciform;
    font-size: 15px;
    font-weight: 700;

  }

  &__img{
    margin-top: 98px;
    //height: 363px;
    //padding: 0 3%;
  }

  &__hits{
    position: absolute;

    top: -17%;
    left: 0;  /////2%
    width: 134px;
    height: 134px;
    background: url("../img/bestseller.png") 50% 50% no-repeat;
  }

  &__details {
    position: relative;

    top: 35px;

    color: $color_lightWhite;
    font-family: $Arciform;
    font-size: 15px;
    font-weight: 400;
    clear: both;
    //padding-left: 3%;
  }

  &__sale{
    position: absolute;
    top: -7%;
    left: -24px;
    display: block;
    transform: rotate(-45deg);
    font-family: $LCChalk;
    font-size: 54px;
    font-weight: 400;
    line-height: 104px;
  }

}

/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
